.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;

  form {
    width: 100%;

    .heading {
      margin-bottom: 24px;
      text-align: center;
      font-size: 34px;
      font-weight: 500;
    }

    .sign-up-container {
      display: flex;
      justify-content: center;
      border: 1px solid #3c3c3c00;
      border-radius: 15px;
      margin: 0 100px;
      box-shadow: 0px 0px 27px 12px rgb(62 182 255 / 52%);

      .sign-up-wrapper {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 0;

        .greeting-text {
          font-size: 20px;
          font-weight: 500;
          padding-bottom: 24px;
        }

        .input-block {
          margin-bottom: 16px;
          padding: 6px;
          border-radius: 15px;
          border: 1px solid transparent;
          box-shadow: 0px 0px 6px 6px rgb(62 182 255 / 52%);

          .title {
            font-size: 12px;
            color: #a7a7a7;
          }

          input {
            border-radius: 15px;
            border: none;

          }

          :focus-visible {
            outline: unset;
            border: none;
          }
        }

        button {
          color: #fff;
          background: linear-gradient(270deg, rgba(40, 137, 238, 1) 0%, rgba(0, 212, 255, 1) 100%);
          border: none;
          width: 150px;
          border-radius: 16px;
          padding: 6px;
          margin-bottom: 26px;
        }

        .login-text {
          font-size: 12px;
          color: #0041ff;

          a {
            color: #2889ee;
            padding-left: 4px;
            text-decoration: unset;
          }
        }
      }

      .welcome-wrapper {
        width: 50%;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        border-radius: 0px 15px 15px 0px;
        background: linear-gradient(0deg, rgba(40, 137, 238, 1) 0%, rgba(0, 212, 255, 1) 100%);
      }

      .error-container {}
    }
  }
}
